.mvpage
{
    width: 100%;
    height: 540px;
    float: left;
    position: relative;

}
.big-container
{
    width: 1020px;
    height: 100%;
    display: flex;
    overflow: scroll;
}
.mvpage-leftcontainer
{
     width: 640px;
     height: 520px;
     padding-top: 20px;
     padding-left: 30px;
}
.mvpage-rightcontainer
{
     padding-top: 20px;
}
.mvpage-leftcontainer .title 
{
    margin-bottom: 20px;
    width: 100px;
    
}
.mvpage-rightcontainer .title
{
    margin-bottom: 20px;
}
.mvpage-leftcontainer .title i
{
    color: #767676;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
}
.mvpage-leftcontainer .title span
{
    font-size: 17px;
    font-weight: 900;
}
.mvpage-rightcontainer .title span
{
    font-size: 17px;
    font-weight: 900;
}
.mvpage-rightcontainer
{
    width: 350px;
    height: 100%;
}
video
{
    margin-bottom: 10px;
}
.mvpage-img-content
{
    width: 100%;
    height: 60px;
}
.mvpage-img-content .image
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:aliceblue;
    float: left;
}
.mvpage-img-content .image img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mvpage-img-content span
{
    line-height: 50px;
    color: #8D8D8D;
    font-size: 14px;
}
.title-content
{
    width: 100%;
    height: 200px;
}
.title-content h1
{
    margin-bottom: 10px;
    font-size: 24px;
}
.title-content .public
{
    float: left;
    margin-right: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #DBDBDB;
}
.title-content .title-playCount
{
    float: left;
    width: 500px;
    line-height: 30px;
    font-size: 14px;
    color: #DBDBDB;
}
.intro
{
    width: 600px;
    height: 70px;
    float: left;
    font-size: 13px;
    color: #4A4A4A;
}
.mvpage-button
{
    width: 500px;
    height: 80px;
    float: left;
}
.mvpage-comment-container
{
    width: 100%;
    height: 500px;
}
.mvpage-comment-container .comment-container
{
    padding-left: 0px;
}
.mvpage-comment-container .comment-container .own-comment-box
{
    padding-top: 0px;
}